<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akwolf.rbac.persistence.SessionMapper">

	 <resultMap id="sessionResultMap" type="Session">
	 
	 </resultMap>


	<!-- 
	<select id="getSessionBySessionId" parameterType="string" resultType="Session">
		select * from sessions s join users u on s.userId = u.id and s.sessionId= #{sessionId}
	</select>
	
	
	<delete id="deleteSessionBySessionId" parameterType="int">
		delete from sessions s where s.sessionId = #{sessionId} 
	</delete>
	
	<insert id="" parameterType="Session" resultType="int">
		insert into sessions(userId,sessionId,loginTime) values(#{user.id},#{sessionId},#{loginTime})
	</insert> -->
</mapper>
