<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EasyUI</display-name>
  
  <filter>
  	<filter-name>rbac</filter-name>
  	<filter-class>com.et.mvc.DispatcherFilter</filter-class>
  	<init-param>
  		<param-name>controllerBasePackage</param-name>
  		<param-value>com.akwolf.rbac.controllers</param-value>
  	</init-param>
  	<init-param>
  		<param-name>viewBasePath</param-name>
  		<param-value>/views</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>rbac</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>